body{
    background-color: #F4F4F4;
    font-family: 'Nunito', sans-serif;
}
body h1{
    color:#707070;
    text-align: center;
    font-size: 45px;
    margin-top: 3%;
}
.textoMain1{
    display: flex;
}
.paragrafoMain1{
    display: flex;
}
.pcmockup{
    display: flex;
    width: 50rem;
}

#imagem{
    display: inline-block;
    width: 15%;
    margin-top: 1%;
    margin-left: 43%;
}
#imagem2{
    display: inline-block;
    width: 8%;
    margin-top: -1%;
    margin-left: -12%;
    margin-bottom: 90px;
}
#imagem3 {
    display: flex;
    width: 15%;
    margin-left: 43%;
    margin-top: -6%;
}
.borda {
    border: 2px solid #E7E7E7;
    width: 600px;
    height: 500px;
    border-radius: 15px;
    margin-left: 36%;
    margin-top: -0%;
}
#fontecor{
    color: #0194FF;
    text-align: center;
    font-size: 45px;
    margin-top: 5%;
}
.fonte{
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
    color: #707070;
}

form label{
    border: none;
    display: flex;
    margin-top: 1%;
}
form {
    text-align: center;
}
form input {
    margin: 2%;
    text-align: center;
    width: 34%;
    height: 26px;
    border-radius: 10px;
    border-color: #707070;
}
.botao{
    margin-top: 2%;
    width: 20%;
    height: 35px;
    border-color: #0194FF;
    background-color: #0194FF;
    color: #E7E7E7;
    font-size: 20px;
    border-radius: 10px;
}
.borda2 {
    margin-top: 2%;
    border: 2px solid #E7E7E7;
    width: 800px;
    height: 300px;
    border-radius: 15px;
    margin-left: 24%;
    padding: 0 40px 0;
}
#tamanho{
    margin-top: 3%;
    color: #0194FF;
    font-size: 35px;
    margin-left: 10%;
}
.cartao{
    font-size: 25px;
    margin-top: 4%;
    margin-left: 15%;
    color: #707070;
    font-weight: bolder;
}
.numero{
    font-size: 25px;
    margin-left: 40%;
    color: #707070;
    margin-top: -7%;
}
#tamanho2 {
    margin-top: 1%;
    color: #0194FF;
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
}

.cartao:hover{
    cursor:pointer
}
#tamanho2:hover{
    cursor: pointer;
}
footer{
    text-align: center;
}
footer p {
    margin-top: 1%;
    color: #0194FF;
    font-size: 20px;
}
footer img{
    width: 40px;
    height: 40px;
}
#cor {
    color:#707070;
}